<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jana.motivlearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".Login" />
        <activity android:name=".suggestVedio" />
        <activity android:name=".Register" />
        <activity android:name=".fillBlank" />
        <activity android:name=".multipleChoices" />
        <activity android:name=".CodeOutput" />
        <activity android:name=".displayfillBlanck" />
        <activity android:name=".displaychoice" />
        <activity android:name=".displayCodeOutput" />
        <activity android:name=".createChallenge" />
        <activity android:name=".suggestQuestion" />
        <activity android:name=".puzzel" />
        <activity android:name=".RecordAchievement" />
        <activity android:name=".WatchVideo" />
        <activity android:name=".Comment" />
        <activity android:name=".userTprofile" />
        <activity android:name=".userSprofile" />
        <activity android:name=".AddPost" />
        <activity android:name=".RegisterCode" />
    </application>

</manifest>